.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
    border-radius: 5px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    font-weight: bold;
    width: 350px;
    border: 2px solid red;
    padding: 5px;
    color: red;
    border-radius: 5px;
}