.header {
    grid-area: h;
    background-color: #374258;
}

.header img {
    width: 60px;
}

.loginBlock {
    float: right;
    position: relative;
    top: -40px;

}

.loginBlock a {
    color: #f3f3f3;
}